<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <!--<link rel="stylesheet" href="../../static/main.css">-->
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav>
        <div class="nav-content">
            <ul>
                <li><a href="#bio">About</a></li>
                <li><a href="#media">Videos</a></li>
                <li><a href="#events">Events</a></li>
                <li><a target="_blank" href="https://patreon.com">Patreon</a></li>
            </ul>
            <div class="logo">
                <p>LUNA</p>
            </div>
        </div>
    </nav>
    <header class="splash-logo">
        <h1 class="padding-top">LUNA</h1>
    </header>
    <div id="splash">
        <!-- splash image -->
       <!-- <img src="../static/assets/Untitled.webp">-->
        <img src="{% static 'Untitled.webp' %}">
    </div>

    <header id="bio">
        <h1>the band</h1>
    </header>
    <main>
        <!-- ABOUT BIOS -->
        <div class="flex-container-only-desktop">
            <div class="info-contained-box">
                <p class="info-title">Carmen Mañon</p>
                <p>About about about</p>
            </div>
            <div class="info-contained-box">
                <img src="{% static '5044.webp' %}">
            </div>
        </div>
        <div class="flex-container-only-desktop">
            <div class="info-contained-box">
                <p class="info-title">Nikolas Carter</p>
                <p>About about about</p>
            </div>
            <div class="info-contained-box">
                <img src="{% static '5044.webp' %}">
            </div>
        </div>
        <div class="flex-container-only-desktop">
            <div class="info-contained-box">
                <p class="info-title">Marco Spindola</p>
                <p class="info-text">About about about</p>
            </div>
            <div class="info-contained-box">
                <img src="{% static '5044.webp' %}">
            </div>
        </div>

        <!-- image slideshow -->
            <div class="dark padding-bottom">
            <div class="img-contained-box">
                <div class="Slideshow">
                   <img class="slide-img" src="{% static 'astrik.webp' %}">
                </div>
                <div class="Slideshow">
                   <img class="slide-img" src="{% static 'TEST-1.webp' %}">
                </div>
                <div class="Slideshow">
                   <img class="slide-img" src="{% static '5044.webp' %}">
                </div>
                <div class="Slideshow">
                   <img class="slide-img" src="{% static '5206.webp' %}">
                </div>
                <div class="Slideshow">
                   <img class="slide-img" src="{% static '5214.webp' %}">
                </div>
                <div class="Slideshow">
                   <img class="slide-img" src="{% static '4982.webp' %}">
                </div>
            </div>

            <!-- image navigation -->
            <div style="text-align:center">
                <span class="image-preview" onclick="currentSlide(1)"></span>
                <span class="image-preview" onclick="currentSlide(2)"></span>
                <span class="image-preview" onclick="currentSlide(3)"></span>
                <span class="image-preview" onclick="currentSlide(4)"></span>
                <span class="image-preview" onclick="currentSlide(5)"></span>
                <span class="image-preview" onclick="currentSlide(6)"></span>
            </div>
        </div>
        <span class="blank-space"></span>

        <header id="media"></header>

        <span class="blank-space"></span>
        <!-- events calendar -->
        <header id="events">
            <h1>Upcoming Events</h1>
        </header>
        <div class="calendar-box">
            <iframe id="events-calendar" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTitle=0&showNav=0&showDate=1&showPrint=0&showTabs=0&showCalendars=0&src=bW1mbWg0QGdtYWlsLmNvbQ&color=%23039BE5" style="border-width:0" frameborder="0" scrolling="no"></iframe>
        </div>
    </main>
</body>

<footer>
    <p>&copy; 2023</p>
</footer>


<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function changeSlide(by) {
      showSlides(slideIndex += by);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("Slideshow");
      let dots = document.getElementsByClassName("image-preview");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
</script>
</html>
